<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Upfunda Automation Suite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="All Tests">
        <packages>
            <package name="org.upfunda.tests"/>
        </packages>
    </test>

</suite>